pyftpdlib==1.5.1
dj-database-url==0.4.1
Django==1.10.2
django-extensions==1.7.4
django-solo==1.1.2
djangorestframework==3.4.7
gunicorn==19.6.0
python-telegram-bot==5.1.0
whitenoise==3.2.2
imutils==0.3.10
numpy==1.12.0
pygame==1.9.2
PyOpenGL==3.1.0
django-dbsettings==0.10.0
imutils==0.3.10
# alternative to install opencv from source code
opencv-python==3.2.0.7
